{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": ">0.25%",
                "bugfixes": true
            }
        ]
    ],
    "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
