body {
    width: 100% !important;
    font-family: "Montserrat", sans-serif;
}
.priTextColor {
    color: var(--pri);
}
/* LOGIN */
.loginBackground {
    background-image: url('../media/img/backgroundImg/loginBackgroundLg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginDetail {
    background-color: var(--pri);
    height: 100vh;
}
.loginDetail .loginDetailInner {
    background-color: #c3e6ea;
    border-radius: 2vw;
    width: 60%;
    margin: 10vh auto 0 auto;
    padding: 4vh 3vw;
}
.loginDetail .loginDetailInner p.welcome {
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: 2vh;
    font-weight: 400;
}
.loginDetail .loginDetailInner h1 {
    font-size: 2.6rem;
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 6vh;
}
.loginDetail .loginDetailInner .otp h1 {
    font-size: 2.6rem;
    margin-top: 3vh;
    font-weight: 600;
    margin-bottom: 1vh;
}
.loginDetail .loginDetailInner label {
    display: block;
    color: var(--black);
    font-size: 1rem;
    padding-bottom: 1vh;
}
.loginDetail .loginDetailInner input {
    width: 100%;
    height: 6vh;
    border-radius: 1vh;
    padding: 0 1vw;
    outline: unset;
    border: thin solid var(--pri);
}
.loginDetail .loginDetailInner .forgotPass {
    padding: 0 0.75rem;
    text-align: right;
    font-size: 0.8rem;
}
.loginDetail .loginDetailInner .forgotPass a, .loginDetail .loginDetailInner .toSignUp a {
    color: var(--pri);
}
.loginDetail .loginDetailInner .forgotPass a{
    position: relative;
    top: 1vh;
}

/* OTP */
.digit-group {
    display: flex;
}

.row .col.s1.otpDigits {
    background-color: #d9d9d9;
    height: 7vh;
    /* width: 1vw; */
    width: 100%;
    text-align: center;
    margin-right: 1vw;
    border-radius: 10px;
}

/* Large */
@media only screen and (min-width: 1024px) {
    
}
/* Medium */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .loginDetail {
        background-image: url('../media/img/backgroundImg/loginBackgroundMd.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .loginDetail .loginDetailInner { 
        margin-top: 14vh;
    }

    /* OTP */
    .row .col.s1.otpDigits {
        width: 5vw;
    }
}
/* small */
@media only screen and (max-width: 767px) {
    .loginDetail .loginDetailInner .otp h1 {
        font-size: 2rem;
    }
    .loginDetail .loginDetailInner {
        width: 95%;
        margin-top: 8vh;
    }

    /* OTP */
    .otp {
        padding: 0 3vw;
    }
    
    .row .col.s1.otpDigits {
        width: 8.5vw;
    }
}

/* .authContainDiv {
    height: 100vh;
    width: 100%;
    margin: auto;
}
.welcomeContainer,
.loginContainer,
.regContainer,
.otpContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginContainer, .welcomeContainer, .otpContainer {
    justify-content: space-between;
}

.row .col.intro {
    background-image: url('../media/img/backgroundImg/bkgrndImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0 8.5vw;
}
.row .col.formContainer {
    padding: 0 8.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row .col.intro h1 {
    font-size: 3.5rem;
}
.authTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 35px;
    letter-spacing: -0.015em;
    color: var(--sec);
    margin-bottom: 0;
    margin-top: 0;
}
.authTxt {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #1e1e1e;
}
#loginForm label, #regEmailVerifier label {
    margin-bottom: 2vh;
    color: var(--sec);
    position: relative;
    top: -1vh;
    left: 0;
    font-weight: 500;
}
.loginInput {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    outline: none;
    border: thin solid var(--gray);
    border-radius: 1vh;
    padding: 0 1vw;
}
.btn.loginBtn {
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    background: var(--sec);
    border-radius: 6px;
    width: 100%;
    margin-top: 2vh;
    height: 3rem;
    line-height: 3rem;
}
.btn.loginBtn:hover, .loginBtn:hover {
    background: var(--white);
    color: var(--sec);
}
.resetPass {
    font-size: 12px;
    font-weight: 500;
}
.resetPass a {
    color: var(--sec);
}

.loginSocialMedTxt {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
}

.loginSignUpInnerDiv {
    display: flex;
    margin-top: 3vh;
    justify-content: center;
}

.loginSignUpTxt {
    margin-right: 0.5vw;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.5);
}

.loginSignUpLink {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.015em;
    text-decoration-line: underline;
    color: var(--sec);
}


#signupTitle,
#signupLname,
#signupFName,
#signupEmail,
#signupPhone,
#signupCountry,
#signupGender,
#signupState,
#signupCity,
#signupPass,
#signCpass,
#signupProfession,
#signupZipcode {
    border: 1px solid var(--primary);
    text-align: center;
}
#signupBtn {
    background: var(--primary);
    border-radius: 6px;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
}
.sm_mg {
    margin: 7px 0;
}

.otpSocialMedHandLink {
    height: 40px;
    border-radius: 6px;
    background-color: black;
    text-align: center;
}
.otpInnerDiv {
    padding-bottom: 6vh;
}
.otpSocialMedTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 40px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #ffffff;
}
.otpSocialMedIcon {
    color: var(--primary);
    line-height: 40px;
}
.proEmailMsg {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.3);
    margin-left: 9px;
    margin-bottom: 13px;
}

.getStartLoginSignUpInnerDiv {
    display: flex;
}

.getStartBtn {
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    background: var(--primary);
    border-radius: 10px;
    width: 100%;
}
.btn.getStartBtn:hover,
.btn.getStartBtn:active {
    background-color: var(--black);
    color: var(--white);
}
.btn.getStartBtn:visited {
    background-color: var(--primary);
    color: var(--white);
}
.loginSocialMedInnerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner-layer {
    border-color: var(--white) !important;
}
.website.spinner-layer {
    border-color: var(--primary) !important;
}
#otpEmailBtn {
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    background: var(--sec);
    border-radius: 10px;
    height: 6vh;
}
.otpEmailAuthTxt {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #1e1e1e;
    margin-bottom: 3vh;
}


.helpModalCloseBtn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.helpModalTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: var(--primary);
}
.helpModalTxts {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.sidenav-overlay {
    z-index: 99 !important;
}
.sidenav {
    height: calc(100vh - 10vh);
    top: 10vh;
} */
