body {
    font-family: "Montserrat", sans-serif;
}
.priTextColor {
    color: var(--pri);
}
.btn {
    background-color: var(--pri);
}
/* LOGIN */
.loginBackground {
    background-image: url('../media/img/backgroundImg/loginBackgroundLg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.authDetail {
    background-color: var(--pri);
    height: 100vh;
}
.authDetail .authDetailInner {
    background-color: #c3e6ea;
    border-radius: 2vw;
    width: 60%;
    margin: 10vh auto 0 auto;
    padding: 4vh 3vw;
}
.authDetail .authDetailInner p.welcome {
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: 2vh;
    font-weight: 400;
}
.authDetail .authDetailInner h1 {
    font-size: 2.6rem;
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 6vh;
}
.authDetail .authDetailInner .otp h1, .recoverPassContainer h1.authTitle {
    font-size: 2.6rem;
    margin-top: 3vh;
    font-weight: 600;
    margin-bottom: 1vh;
}
.authDetail .authDetailInner label, #verifyEmail label {
    display: block;
    color: var(--black);
    font-size: 1rem;
    padding-bottom: 1vh;
}
.authDetail .authDetailInner input {
    width: 100%;
    height: 6vh;
    border-radius: 1vh;
    padding: 0 1vw;
    outline: unset;
    border: thin solid var(--pri);
}
.authDetail .authDetailInner .forgotPass {
    padding: 0 0.75rem;
    text-align: right;
    font-size: 0.8rem;
}
.authDetail .authDetailInner .forgotPass a, .authDetail .authDetailInner .toSignUp a {
    color: var(--pri);
}
.authDetail .authDetailInner .forgotPass a{
    position: relative;
    top: 1vh;
}

/* OTP */
.digit-group {
    display: flex;
}

.row .col.s1.otpDigits {
    background-color: #d9d9d9;
    height: 7vh;
    /* width: 1vw; */
    width: 100%;
    text-align: center;
    margin-right: 1vw;
    border-radius: 10px;
}

/* Recover Pass */
.authTitle {
    
}

/* Large */
@media only screen and (min-width: 1024px) {
    
}
/* Medium */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .authDetail {
        background-image: url('../media/img/backgroundImg/loginBackgroundMd.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .authDetail .authDetailInner { 
        margin-top: 14vh;
    }

    /* OTP */
    .row .col.s1.otpDigits {
        width: 5vw;
    }
}
/* small */
@media only screen and (max-width: 767px) {
    .authDetail .authDetailInner .otp h1 {
        font-size: 2rem;
    }
    .authDetail .authDetailInner {
        width: 95%;
        margin-top: 8vh;
    }

    /* OTP */
    .otp {
        padding: 0 3vw;
    }
    
    .row .col.s1.otpDigits {
        width: 8.5vw;
    }
}
