::-webkit-scrollbar {
    width: 5px;
}

/* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 7px rgba(0,0,0,0.8);*/
    background-color: var(--pri);
    /*border-radius: 8px;*/
}

/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 100px var(--pri);
    background-color: var(--pri);
    /*border-radius: 8px;*/
}

/* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    height: 0;
    /* background-color: rgba(0,151,0,1);*/
}

/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: var(--black);
}

/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
::-webkit-scrollbar-track-piece {
    background-color: var(--white);
}

::-webkit-scrollbar-button:horizontal {
    width: 5px;
    /* Select the down or left scroll button when it's being hovered by the mouse */
}

body {
    overflow: hidden;
}
.m-0 {
    margin: 0;
}
.mt-1 {
    margin-top: 1vh !important;
}
.item {
    flex: 1;
    height: 100vh;
    background-color: #ccc;
}
.item:first-child {
    background: url("/media/img/backgroundImg/loginBackgroundLg.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.item:last-child {
    background-color: var(--pri);
}
.custom-button {
    background-color: #fff;
    border: 1px solid rgb(37, 121, 116);
    text-transform: capitalize;
}
.formContainer {
    width: 75%;
    max-height: 95%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 24px;
    overflow-y: scroll;
}
h4.sectionTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--ter);
}
h4.sectionTitle small {
    font-size: 0.75rem;
}
section.row {
    margin-bottom: 0;
}
label {
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}
input[type="text"], input[type="email"],
select,
.mx-input {
    background-color: var(--white) !important;
    height: 57px !important;
    width: 100%;
    border: none !important;
    outline: none !important;
    border-radius: 5px !important;
    padding: 0 0.5rem !important;
}

input::placeholder,
.custom-select option:disabled {
    color: #808080;
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: normal;
}
.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 1em;
    /* background: url('path/to/custom-arrow-icon.png') no-repeat center right; Add custom arrow icon */
    /* background-size: 12px; Set custom arrow icon size */
}
.customNextBtn {
    width: 236px;
    height: 54px;
    border-radius: 10px;
    text-transform: capitalize;
    background-color: var(--pri);
    box-shadow: 0px 4px 19px 0px rgba(16, 157, 173, 1);
}
.copyright {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: .7rem;
    font-weight: 400;
}
.logo {
    width: 414px;
    height: 251px;
}
#internship h4,
#residency h4, #fellowship h4 {
    margin-bottom: 3vh;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}
.pills:visited,
.pills:focus {
    background: rgb(245, 125, 125);
}
.removeInterest:hover {
    cursor: pointer;
    background-color: rgb(16, 15, 58);
}
.pills {
    background-color: var(--white);
    box-shadow: 2px 2px 4px #b7b7b7;
    border-radius: 4vh;
    padding: 1vh 0vw;
    text-align: center;
    margin: 0.8vh 0.75vw;
    color: var(--sec);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
.pills > p {
    margin: 0;
}
.pills:hover,
.selected {
    background: var(--sec);
    color: var(--white);
}
.mx-datepicker {
    width: 100% !important;
}
.pubSupportText {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
input[type="text"]:not(.browser-default).empty-input, input[type="text"].empty-input, .empty-input {
    border: 1px solid rgb(245, 126, 126) !important;
}
.row .col.s1.otpDigits {
    width: 2vw;
    height: 7vh !important;
}
.marginBottom-5 {
    margin-bottom: 1rem !important;
    text-align: center;
}
.marginBottom-5 span {
    font-size: .875rem;
}
@media only screen and (max-width: 767px) {
    .logo {
        width: 93px;
        height: 56px;
    }
    .sm-flex-col {
        flex-direction: column;
    }
    .sm-mt-4 {
        margin-top: 3vh;
    }
    /* .sm-flex-start {
        justify-content: flex-start !important;
    } */
    input[type="text"],
    select,
    .mx-input {
        height: 55px !important;
    }
    .formContainer {
        padding: 24px 6px;
        width: 85%;
        height: 95%;
    }
    .sm-mt-1 {
        margin-top: 1vh;
    }
    .sm-mb-1 {
        margin-bottom: 1vh;
    }
    .row {
        margin-bottom: 1vh;
    }
    label {
        font-size: 0.875rem;
    }
    .mx-input-wrapper {
        width: 12vw;
    }
    .mx-datepicker svg {
        position: absolute;
        top: 0;
        transform: translate(0, -50%);
    }
    .grid {
        display: grid;
        grid-template-columns: auto auto;
    }
    .pills {
        font-size: .875rem;
    }
    .gap20 {
        gap: 20vh;
    }
    .row .col.s1.otpDigits {
        width: 5vw;
        height: 6vh !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .item:last-child {
        background-image: url('/media/img/backgroundImg/loginBackgroundMd.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .formContainer {
        width: 70%;
    }
    .mx-datepicker {
        width: 100% !important;
    }
    .mx-input-wrapper {
        width: 87px;
    }
    .logo {
        width: 300px;
        height: 182px;
    }
    #medSchool h4 {
        margin-top: 1vh;
    }
    .row {
        margin-bottom: 1vh;
    }
    .md-justify-center {
        justify-content: center;
    }
    .row .col.s1.otpDigits {
        width: 6vw;
        height: 6vh !important;
    }
}
@media only screen and (min-width: 1024px) {
    h4.sectionTitle {
        margin-top: 0vh;
    }
    .mx-input-wrapper {
        width: 5.5vw;
    }
    .md-justify-center {
        justify-content: center;
    }
    .background { 
        width: 60% !important;
        padding: 0 2vw !important;
    }
}




.domianMainDiv .row {
    margin-bottom: 0vh;
}
