body {
    width: 100% !important;
}
.row .col {
    padding: 0;
}

.primaryColorDiv {
    background-color: var(--primary);
    padding: 3vh 4vw 0 0;
    height: 48vh;
}

.contentDiv {
    background: var(--white);
    background-image: url("../media/img/pageBoldLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 64vh;
    border-radius: 0px 100px 0px 0px;
    position: absolute;
    top: 35.1vh;
    padding-top: 9vh;
}

.headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.headerTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    text-align: right;
    text-transform: uppercase;
    color: var(--white);
    width: 60%;
    margin: 0;
}

.contentTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 3vh;
    color: var(--black);
}

ul.cvModalLinkHolder {
    background-color: var(--primary);
    margin: 0;
    display: flex;
    /* padding: 2vh 1vw; */
    padding: 0 1vw;
    height: 7vh;
}
.cvModalLinkList {
    margin-right: 2.5vw;
    line-height: 3.5rem;
}
.cvModalLinkList:nth-child(7) {
    margin-right: 0vw;
    line-height: 3.5rem;
}
.cvModalLinkNum {
    background-color: #d9d9d9;
    color: var(--primary);
    padding: 0.5px 5px;
    border-radius: 10px;
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
}
a.cvModalLink {
    font-family: "Montserrat", sans-serif;
    color: var(--white);
    font-size: 0.9rem;
}
.material-icons.cvModalExitIcon {
    font-size: 1.3rem;
    color: #d9d9d9;
    position: relative;
    top: 0.5vh;
}
.cvSetupTitle {
    color: var(--primary);
    font-family: "Montserrat" sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    padding-top: 3vh 0;
    margin: 2vh 0 1vh 0;
}
.cvSetupTextarea {
    border: 1px solid var(--primary);
    border-radius: 10px;
    height: 20vh;
    padding: 1vh 0.5vw;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}
.cvSetupTextarea::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.7);
}
.maxChar {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.015em;
}
button.waves-effect.waves-green.btn.cvSetupSaveBtn {
    background-color: var(--primary);
    border-radius: 6px;
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
}
button.waves-effect.waves-green.btn.cvSetupNextStepBtn {
    background-color: var(--primary);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    /* margin-left: 1vw; */
}
button.waves-effect.waves-green.btn.cvSetupBackStepBtn {
    background-color: var(--black);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    margin-right: 0.5vw;
}
div.cvNextStepBtnDiv {
    padding: 5vh 0 5vh 0;
}
div.cvNextStepBtnDiv1 {
    padding: 0vh 0 5vh 0;
    margin-bottom: 5rem;
}
.cvSetupRadioBtnHolder {
    margin-right: 6vw;
}
.cvSetupRadioBtnHolder:last-child {
    margin-right: 0vw;
}
span.cvSetupRadioBtnSpan {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: var(--black);
    padding: 0;
}
.cvSetupRadioBtnDiv {
    margin-top: 5vh;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
    background-color: var(--primary);
}
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border: 2px solid var(--primary);
}
.cvSetupEduIndicatorDiv {
    display: flex;
}
.cvSetupEduIndicatorP {
    border-bottom: 3px solid var(--primary);
    margin-right: 3vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    padding-right: 1.5vw;
}
.cvSetupEduIndicatorP:last-child {
    margin-right: 0;
}
i.material-icons.cvSetupEduIndicatorIcon {
    font-size: 0.8rem;
    font-weight: 800;
    color: var(--primary);
}
input.validate.cvSetupInput {
    width: 87%;
    font-weight: 700;
    border: 1px solid var(--primary);
    border-radius: 10px;
    /* height: 4vh; */
    margin-left: 1rem;
    padding: 0 1vw;
}
.mx-datepicker {
    width: 87% !important; 
    margin-left: 1rem !important;
}
select.browser-default, .mx-input {
    background-color: transparent;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border: 1px solid var(--primary) !important;
    border-radius: 10px !important;
    outline: none;
    height: 3rem;
    width: 87%;
    font-size: 16px;
    margin: 0 0 8px 0;
    margin-left: 1rem;
    padding: 0;
    padding-left: 1rem !important;
    padding-right: .8rem !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
    font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 0.8rem;
color: rgba(0, 0, 0, 0.5);
}
input.validate.cvSetupInput1 {
    width: 93.5%;
    font-weight: 700;
    border: 1px solid var(--primary);
    border-radius: 10px;
    /* height: 4vh; */
    margin-left: 1rem;
    padding: 0 1vw;
}
input.validate.cvSetupInput1::placeholder, input::placeholder,
input.validate.cvSetupInput::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}
div.input-field.col.s6 {
    margin-bottom: 0;
}
i.material-icons.chevronIcon {
    color: var(--white);
    font-size: 0.8rem;
}
a.chevronIconLink {
    background-color: var(--primary);
    margin-left: 1vw;
    border-radius: 20px;
    padding: 0 0.25vw;
}

select {
    background-color: transparent;
    width: 95.5%;
    padding: 5px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    height: 4vh;
}
.lt_mb {
    margin-bottom: 0.9vh;
}
.goToMedSchBtn {
    background-color: var(--primary);
    border-radius: 6px;
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
}
.cvSetupRadioBtnInnerDiv {
    margin-bottom: 13vh;
}
.cvMoreInternP {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--black);
    position: relative;
    top: 1vh;
}
.material-icons.cvMoreInternIcon {
    position: relative;
    top: 0.8vh;
    left: 1vw;
    color: var(--primary);
    font-size: 2rem;
    cursor: pointer;
}

/* Media Query on Medium Device */
@media screen and (max-width: 992px) and (min-width: 640px) {
    .row .col {
        padding: 0;
    }
    .primaryColorDiv {
        background-color: var(--primary);
        padding: 3vh 4vw 0 0;
        height: 48vh;
    }
    .contentDiv {
        background: var(--white);
        background-image: url("../media/img/pageBoldLogo.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 64vh;
        border-radius: 0px 100px 0px 0px;
        position: absolute;
        top: 35.1vh;
        padding-top: 9vh;
    }
    .headerDiv {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .headerTitle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        text-align: right;
        text-transform: uppercase;
        color: var(--white);
        width: 80%;
        margin: 0;
    }
    .primaryColorDocsImg {
        height: 22.5vh;
        position: absolute;
        top: 13vh;
    }
    .contentTitle {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 24px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 3vh;
        color: var(--black);
    }

    input.validate.cvSetupInput, input.validate.cvSetupInput1 {
        width: 95%;
    }
    select.browser-default, .mx-datepicker {
        padding-left: 0;
        padding-right: 0;
        width: 94% !important;
    }
    a.chevronIconLink {
        background-color: var(--primary);
        margin-left: 1vw;
        border-radius: 20px;
        padding: 0 0.4vw;
    }
}
.ruleoutxt {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 29px;

}
.ruleoutxt h6 {
    color: var(--primary);
}
.ruleoutxt button:first-of-type {
    background: #D44141;
    border-radius: 6px;
}
.ruleoutxt button:last-of-type {
    background: var(--primary);
border-radius: 6px;
}
.fa-calendar {
    font-size: 24px;
padding-right: .2rem;
}
.cvSetupInput1 {
    width: 93%;
}
/* Media Query for Small Devices */
@media screen and (max-width: 640px) {
    .cvSetupTitle {
        color: var(--primary);
        font-family: "Montserrat" sans-serif;
        font-weight: 700;
        font-size: 1rem;
        padding-top: 3vh 0;
        margin: 2vh 0 1vh 0;
    }
    [type="radio"]:not(:checked) + span,
    [type="radio"]:checked + span {
        position: relative;
        padding-left: 26px;
        font-size: 0.9rem;
    }
    button.waves-effect.waves-green.btn.cvSetupSaveBtn {
        background-color: var(--primary);
        border-radius: 6px;
        font-size: 0.8rem;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 3vh;
        margin-top: 1rem;
    }
    a.chevronIconLink {
        background-color: var(--primary);
        margin-left: 1vw;
        border-radius: 20px;
        padding: 0 1vw;
    }
    div.input-field.col.s12.l6 {
        margin-bottom: 0;
    }
    div.input-field.col.s12 {
        margin-bottom: 0;
    }
    .mx-input {
        text-align: center;
    }
    input.validate.cvSetupInput, input.validate.cvSetupInput1, select.browser-default, .mx-datepicker {
        width: 98% !important;
        margin: 0 !important;
        padding-left: 0 !important;
        text-align: center;
    }
    .mx-datepicker {
        width: 92% !important;
    }
    select.browser-default {
        width: 96% !important;
    }
    .row .col {
        padding: 0;
    }
    .primaryColorDiv {
        background-color: var(--primary);
        padding: 3vh 4vw 0 0;
        height: 48vh;
    }
    .contentDiv {
        background: var(--white);
        background-image: url("../media/img/pageBoldLogo.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 64vh;
        border-radius: 0px 100px 0px 0px;
        position: absolute;
        top: 35.1vh;
        padding-top: 9vh;
    }
    .headerDiv {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .headerTitle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        text-align: right;
        text-transform: uppercase;
        color: var(--white);
        width: 80%;
        margin: 0;
    }
    .primaryColorDocsImg {
        height: 19.5vh;
    }
    .contentTitle {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 24px;
        text-align: center;
        margin-bottom: 3vh;
        color: var(--black);
        width: 80%;
        margin: auto;
    }
}
.flex {
    display: flex;
    justify-content: unset !important;
}
h6, .flex p {
    margin: 0 !important;
    margin-left: 1rem !important;
}
.card {
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
}
.successNotifier {
    background-color: #126d40;
    color: white;
}
.errorNotifier {
    background-color: #f55268;
    color: white;
}
.mt-2 {
    margin-top: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: end;
}
