/* Helpers */
.d-flex {
    display: flex;
}
.justify-center {
    justify-content: center;;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.mb-6 {
    margin-bottom: 6rem;
}
.mb-4 {
    margin-bottom: 4rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mb-7 {
    margin-bottom: 7rem;
}
.pt-5 {
    padding-top: 5rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-9 {
    margin-top: 9rem;
}
.mainBackground {
    background-image: url('../media/img/backgroundImg/physician3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.customNav, .introductory, .advert {
    background-color: rgba(16,33,125, 0.9);
}
.customNav {  
    z-index: 999;
    width: 100%;
    padding: 7vh 7vw;
    top: 0;
}
.introductoryBody, .advBody, .templateFeatureBody, .howToGetStartedBody, .templateBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .introductory {
    padding-top: 10rem;
} */
.introductory, .advert {
    /* background-color: var(--sec); */
    width: 100%;
}
.button {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 16.25rem;
    padding: 1.8vh 3vw;
    border: none;
    outline: none;
    font-size: 1.125rem;
}
.button.signin:hover, .button.signin:visited {
    background-color: var(--white);
    color: var(--sec);
}
.button.signin, .button:hover, .button:visited {
    background-color: #D7B9AE;
    color: var(--white);
}
.getstartedbtnFor {
    background-color: var(--pri);
    color: var(--white);
}
.getStartedBtn {
    color: var(--pri);
}
.introductoryHeader {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    font-size: 3.75rem;
    text-align: center;
    line-height: 4.571rem;
    width: 35.813rem;
    margin-bottom: .938rem;
    /* font-family: 'Plus Jakarta Sans', sans-serif; */
}
.introductorySummary, .templateFeatureSummary, .contentSummary, .howToStep {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--white);
}
.introductorySummary, .templateFeatureSummary {
    text-align: center;
    font-size: 1.125rem;
    width: 57rem;
    line-height: 1.5rem;
}
.getStartedLayout {
    margin-bottom: 3rem;
}
.introductoryImageContainer {
    background: linear-gradient(94.9deg, rgba(255, 255, 255, 0.28) 19.81%, rgba(255, 255, 255, 0.07) 100%);
    display: inline-block;
    padding: 1.725rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
    margin-bottom: 5rem;
}
.introductoryImageContainer img {
    display: block;
    max-width: 100%;
    height: auto;
}
.introductoryImg {
    border-radius: .25rem;
}
.advert {
    background-color: var(--white);
    /* height: 100vh; */
}
.advHeader {
    color: #2E4451;
}
/* #2E4451 */
.advHeader, .templateFeatureHeader, .howToGetStartedHeader, .templateHeader {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 3.809rem;
    width: 45.625rem;
    text-align: center;
    margin: 2.75rem;
}
.templateFeatureHeader {
    color: #FFFF;
}
.howToGetStartedHeader {
    color: #2E4451;
    width: 25.625rem;
    margin-bottom: .2rem;
}

@media screen and (max-width: 640px) { 
    .customNav {
        padding: 2rem 0.5rem;
    }
    .introductoryImg {
        width: 100%;
    }
    .introductoryHeader, .introductorySummary, .templateFeatureSummary, .contentSummary {
        width: fit-content;
    }
    .introductoryHeader {
        font-size: 2.875rem;
        line-height: 3.571rem;
    }
    .introductoryImageContainer {
        padding: .825rem;
    }
    .advHeader, .templateFeatureHeader {
        width: 26.5rem;
    }
    .content.mt-9 {
        margin-top: 0rem;
    }
    .howToStep {
        font-size: .9rem;
    }
}

@media screen and (max-width: 992px) and (min-width: 640px) {
    .introductorySummary {
        width: 50rem;
    }
}