/* Helpers */
.d-flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.flex-end {
    align-items: flex-end;
}
.mb-6 {
    margin-bottom: 6rem;
}
.mb-4 {
    margin-bottom: 4rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mb-7 {
    margin-bottom: 7rem;
}
.pt-5 {
    padding-top: 5rem;
}
.mt-1 {
    margin-top: 0.75rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mt-9 {
    margin-top: 9rem;
}
.mb-3 {
    margin-bottom: 3rem;
}
.mb-2,
.md-mb-2 {
    margin-bottom: 2rem;
}
.pt-10 {
    padding-top: 10vh;
}
.pr-1 {
    padding-right: 1rem;
}
.m-0 {
    margin: 0;
}
.-mr-6 {
    margin-right: -6px;
}
.mt-0 {
    margin-top: 0;
}
/* Desktops and Laptops */
@media only screen and (min-width: 1024px) {
    /* CSS styles for desktops and laptops */
    .container {
        width: 90%;
    }
    .body {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .customNav {
        background-color: var(--white);
    }
    .logoContainer {
        width: 130px;
        height: 78px;
    }
    .logoContainer .logo {
        width: 100%;
        height: 100%;
    }
    .pizzariedLeft {
        background-image: url("/media/img/rectangleLeft.png");
        width: 100%;
        height: 428px;
        position: absolute;
    }
    section:first-of-type .pizzariedLeft {
        top: 57%;
    }
    .pizzariedRight {
        background-image: url("/media/img/rectangleRight.png");
        position: absolute;
        height: 661px;
        width: 899px;
    }
    section:first-of-type .pizzariedRight {
        max-width: 100%;
        top: 23%;
        right: 0;
    }
    section:nth-of-type(3) .pizzariedRight {
        right: 0;
        bottom: 0;
    }
    section:nth-of-type(3) .pizzariedLeft {
        left: 0;
        bottom: 0;
    }
    .verifyTitle {
        font-size: 1rem;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--pri);
    }
    .heading {
        width: 645px;
        flex-shrink: 0;
    }
    .headingText {
        color: #333232;
        font-size: 3rem;
        font-family: Montserrat;
        font-weight: 600;
        word-wrap: break-word;
        line-height: normal;
    }
    .headingText:nth-of-type(2) {
        color: var(--pri);
    }
    .decor {
        position: absolute;
        left: -10%;
        top: 65%;
    }
    .description {
        width: 561px;
        color: #747582;
        font-size: 1.25rem;
        font-family: Ubuntu;
        font-weight: 400;
        line-height: 2.25rem;
        word-wrap: break-word;
        margin-top: 4vh;
    }
    .joiner {
        position: absolute;
        top: 94%;
        left: 10px;
    }
    .top-112 {
        top: -7%;
        left: 15%;
    }
    .spiralGrey {
        position: absolute;
        top: 31%;
        left: 8%;
        z-index: -1;
    }
    .spiralRed {
        right: -40%;
        position: absolute;
        top: 67%;
    }
    .maskPri {
        position: absolute;
        z-index: -1;
        top: 65%;
        left: 6%;
    }
    .maskSec {
        position: absolute;
        z-index: -1;
        top: 2%;
        left: 15%;
    }
    .reviewBoxPrev {
        position: absolute;
        top: 94%;
        right: 18%;
    }
    .reviewBoxPrevHolder {
        width: 236.59px;
        height: 140.51px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 10px 24px 40px rgba(167.88, 22.38, 74.76, 0.05);
        backdrop-filter: blur(100px);
    }
    .reviewBoxPrevContent {
        left: 30.99px;
        top: 25.83px;
        position: absolute;
    }
    .reviewStarAvg {
        font-size: 1.75rem;
        font-family: Montserrat;
        font-weight: 700;
        word-wrap: break-word;
    }
    .stars {
        left: 57.86px;
        top: 13.43px;
        position: absolute;
    }
    .star {
        padding-right: 0.5vw;
        color: var(--pri);
    }
    .reviewBoxPrevUserImg {
        left: -15px;
        top: 56.35px;
        position: absolute;
    }
    .reviewBoxPrevUserImg img {
        width: 38.25px;
        height: 38.02px;
        box-shadow: -9px 4px 1.25rem rgba(0, 0, 0, 0.05);
    }
    .reviewBoxPrevImgHolder {
        width: 46.57px;
        height: 46.33px;
        line-height: 46.33px;
        border-radius: 9999px;
        background: white;
        border: 1px solid white;
        box-shadow: -9px 4px 1.25rem rgba(0, 0, 0, 0.05);
        margin-right: -0.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .reviewBoxPrevImgHolder:last-of-type {
        background: var(--pri);
        color: var(--white);
        font-size: 1.1rem;
        font-weight: 600;
    }
    /* Section Two */
    .pizzariedUpLeft {
        background-image: url("/media/img/rectangleUpper.png");
        width: 898.9999499730503px;
        height: 660.9999632171149px;
        top: 0;
        left: 0;
        position: absolute;
    }
    .pizzariedDownRight {
        background-image: url("/media/img/rectangleUpperRight.png");
        width: 1453.9999190887822px;
        height: 427.99997618294276px;
        top: 0;
        right: 0;
        position: absolute;
    }
    .sectionTwoContent {
        /* top: 131%;
        left: 50%;
        transform: translate(-50%);
        position: absolute; */
        padding: 16vh;
        font-family: Montserrat;
    }
    .sectionTwoContent .heading {
        width: 869px;
        text-align: center;
        line-height: normal;
    }
    .headingText1 {
        color: black;
        font-size: 2.25rem;
        font-weight: 600;
        word-wrap: break-word;
    }
    .headingText2 {
        color: var(--pri);
        font-size: 2.25rem;
        font-weight: 600;
        word-wrap: break-word;
    }
    .sectionTwoContent .desc {
        width: 780px;
        text-align: center;
        color: black;
        font-size: 1.275rem;
        font-weight: 400;
        line-height: 30px;
        word-wrap: break-word;
        opacity: 0.56;
    }

    .stepContainer {
        border-radius: 1.25rem;
        border: 1px solid rgba(16, 157, 173, 0.5);
        height: 422px;
        background: linear-gradient(
            to right,
            white,
            white,
            white,
            rgb(248, 248, 192)
        );
    }

    .steps {
        background-color: var(--black);
        width: 804px;
        height: 350px;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        padding: 5vh 3vw;
        color: var(--white);
    }
    .steps .contents p {
        border-bottom: 1px solid white;
        padding-bottom: 2vh;
    }
    .tag {
        top: -10%;
        z-index: 1;
        background: rgba(250, 249, 249, 0.932);
        padding: 2vh 1vw;
        border-radius: 25px;
        left: -21%;
        font-size: 1.375rem;
        border: 1px solid rgba(255, 217, 0, 0.616);
    }
    .spiralCRed,
    .spiralingGrey {
        top: 79%;
    }
    .spiralCRed {
        left: -16%;
    }
    .spiralingGrey {
        right: -6%;
    }
    section:nth-of-type(2) {
        top: 21vh;
        padding-bottom: 25vh;
    }
    .bgSec {
        background: #119dad88;
        height: 768px;
        width: 100%;
        padding: 20vh 4vw;
        color: var(--white);
    }
}
.absolute {
    position: absolute;
}
.customBtn {
    border-radius: 2px;
    background-color: rgb(240, 240, 152);
    text-transform: capitalize;
    color: var(--black);
}
.customBtn:visited,
.customBtn:hover {
    background-color: var(--sec);
    color: var(--white);
}
.blueBox {
    width: 47px;
    height: 48px;
    border-radius: 10px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.blueBox {
    background: var(--sec);
}
.templateImgHolder {
    width: 600px;
    height: 388px;
    border-radius: 25px;
    border: 2px solid white;
}
.templateImgHolder img {
    width: 100%;
    border-radius: inherit;
    height: 100%;
}

.sectionFour {
    padding: 20vh 10vw;
    font-family: Montserrat;
}
.sectionFour h4 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: 0px;
    text-align: left;
}
.stepsToStart {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.8;
}
.stepsToStart span {
    margin-bottom: 4vh;
}
.w-502 {
    width: 502px;
}
.w-502 .text {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    opacity: 0.7;
    font-family: "Montserrat", sans-serif;
}
.services .pizzariedRight {
    bottom: 0;
    right: 0;
}
.services .pizzariedLeft {
    bottom: 0;
    left: 0;
}
.services h4 {
    font-family: Montserrat;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
}
.services h6,
.reviews h6 {
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0em;
    text-align: center;
    color: var(--pri);
}
.servTitle {
    width: 703px;
    font-family: Ubuntu;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    margin-top: 1px;
    opacity: 0.7;
}
.w-290 {
    width: 290px;
}
.templateFit {
    padding: 8vh 0;
}
.templateFit h6 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: left;
    color: var(--black);
}
.templateFit h6 span {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--pri);
}
.templateFit .desc {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(116, 117, 130, 1);
    width: 501px;
}
.tempFitRow1 {
    left: 25%;
    top: 130%;
}
.tempFitRow2 {
    top: 50%;
    left: 50%;
}
.tempFitRow3 {
    right: 7%;
    top: 13%;
}
.templateFit .spiralGrey {
    top: 150%;
    left: 10%;
}
.templateFit .spiralRed {
    top: 170vh;
    left: 10%;
    right: 100%;
}
.reviews {
    top: 180vh;
    padding: 10vh;
}
.mapBg {
    background-image: url("/media/img/map.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 579.87px;
}
.reviews h5 span {
    font-weight: 400;
    color: var(--pri);
}
.reviews h5 {
    font-size: 32px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0.02em;
}
.getStarted {
    height: 352px;
    background-color: #119dadb0;
}
.support,
.getStarted, .top {
    top: 180vh;
}
.getStarted h5 {
    font-family: Montserrat;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0.02em;
    color: var(--white);
}
.getStarted p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0.02em;
    color: rgba(238, 238, 238, 1);
}
.support {
    padding: 5vh 10vw;
    z-index: 1;
}
.secondary {
    background-color: rgba(229, 242, 239, 1);
    padding: 10px;
}
.card {
    margin: 0;
}
.card-content {
    padding: 30px;
}
.support p {
    color: #109dad;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 2rem !important;
}
.support .card-title {
    color: #282c4b;
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0.64px;
    word-wrap: break-word;
    margin-bottom: 2.5rem !important;
}
.gap-10 {
    gap: 29px;
}
.custom-input {
    width: 528px;
    height: 60px;
}
.custom-input input, .custom-textarea textarea {
    width: 528px;
    height: 60px;
    background: white;
    border-left: 0.5px #dcdcdc solid;
    border-top: 0.5px #dcdcdc solid;
    border-right: 0.5px #dcdcdc solid;
    border-bottom: 0.5px #dcdcdc solid;
    padding: 0 0 0 1vw;
}
.custom-input input::placeholder, .custom-textarea textarea::placeholder {
    color: #b9b9b9;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 25.6px;
    word-wrap: break-word;
}
.custom-textarea {
    width: 528px;
    height: 180px;
}
.custom-textarea textarea {
    height: 180px;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.h-794 {
    height: 794px;
}
.h-794 img {
    height: 100%;
}


