#Template1 #physiPortPageLogo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 24px;
    color: #000000;
    margin-top: 3vh;
}
.text {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 22px;
    margin-left: 0.7vw;
}
#Template1 .physiTempContactBtn {
    border-radius: 6px;
    width: 130px;
    height: 40px;
    margin-top: 12px;
    text-align: center;
    line-height: 42px;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background: #6750A4;
    color: #FFFFFF;
    border: none;
}
#Template1 .physiTempContactBtn:hover {
    background: #FFFFFF;
    color: #6750A4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#Template1 .profileImg {
    background: #6750A4;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transform: rotate(-3.7deg);
    width: 427.62px;
    height: 479.96px;
    position: absolute;
    top: 20vh;
    right: 12vw;
}
#Template1 .physiRightImg {
    position: absolute;
    left: 33px;
    top: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(1.5deg);
}
#Template1 .physiContainerDiv {
    width: 84.5%;
    margin: auto;
    padding-top: 36vh;
}
#Template1 .physiTempNavLinks {
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    border-left: none;
    padding: 0;
    margin-right: 4.5vw;
    color: rgb(34, 34, 34);
    padding-bottom: 3vh;
}
#Template1 .physiTempNavLinks:hover {
    background-color: white;
    border-bottom: 4px solid rgba(0, 0, 0, 0.5);
}
#Template1 .physiTempNavLinks.active {
    border-bottom: 4px solid rgba(0, 0, 0, 0.91);
    padding: 0 0 3vh 0;
}

#Template1 .physiTempNameTitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 0 0 0 0.2vw;
}
#Template1 .physiTempName {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 35px;
    letter-spacing: 0.1px;
    color: #6750A4;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
#Template1 .physiSummaryTxt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.8);
}
#Template1 .physiTempBtn {
    background: transparent;
    border: 1px solid #6750A4;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 100px;
    margin-top: 3vh;
    text-decoration: none;
    color: #6750A4;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    background-color: var(--black) !important;
    font-size: 14px;
    outline: 0;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
#Template1 .servicesMainTitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 25vh 0 0 0;
}
#Template1 .servicesWhatIdo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 44px;
    color: #6750A4;
    text-align: center;
    margin: 0 0 10vh 0;
}
#Template1 .servicesIconsDiv {
    /* position: absolute; */
    width: 50px;
    height: 50px;
    /* left: 243px;
    top: 940px; */
    border-radius: 50%;
    margin: 0 auto;
    background: #6750A4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}
#Template1 .servcesHeading {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.563rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
}
#Template1 .servicesTitle, .servcesHeading.forSurgeon, .title, .feedsMainTitle.forSurgeon, .greenBg {
    display: none;
}
#Template1 .servicesTxt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.7);
}
#Template1 .servicesIcons {
    color: #FFFFFF;
    margin: 1.3vh 0 0 0.7vw;
    font-size: 2.3rem;
}
#Template1 .servicesIcons1 {
    color: #FFFFFF;
    /* margin: 1.3vh 0 0 0.7vw; */
    font-size: 2rem;
}
#Template1 .servicesIcons2 {
    color: #FFFFFF;
    /* margin: 1.3vh 0 0 0.7vw; */
    font-size: 2rem;
}
#Template1 .physiExpContainerDiv, .feedsContainDiv {
    width: 84.5%;
    margin: auto;
}
#Template1 .expMainTitle, .feedsTitle { 
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 9vh 0 0 0;
}
#Template1 .expMainTxt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 2.25rem;
    line-height: 44px;
    color: #6750A4;
    text-align: center;
    margin: 0 0 10vh 0;
}
#Template1 .expLeftBarDiv {
    background: #6750A4;
    border-radius: 10px;
    padding: 3vh 1.5vw;
}
#Template1 .expLeftBarTxt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 20px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin: 0 0 1vh 0;
}
#Template1 .expLeftBarTxt1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 0.875rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin: 0 0 1.5vh 0;
}
#Template1 .expLeftBarInnerDiv {
    border-bottom: 1px solid rgba(217, 217, 217, 0.65);
}
#Template1 .expLeftBarInnerDiv:last-child {
    border-bottom: none;
}
#Template1 .expLeftBarInnerDiv .expLeftBarTxtDiv {
    padding: 5.7vh 0 3vh;
}
#Template1 #expRightDivImg {
    width: 100%;
    height: 73.5vh;
    border-radius: 10px;
}
#Template1 #feedsTwitterIcon {
    color: #6750A4;
    font-size: 1.3rem;
}
#Template1 .feedsMainTxt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 2.25rem;
    line-height: 44px;
    color: #6750A4;
    text-align: center;
    margin: 0 0 1vh 0;
}
#Template1 .feedsCard {
    background: #6750A4;
    border: 1px solid #938F99;
    border-radius: 12px;
    padding: 2vh 0vw;
}
#Template1 .feedsProDiv {
    background: #D0BCFF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin-left: 1vw;
}
#Template1 .feedsProImg {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
}
#Template1 .feedsCardHeader {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #E6E1E5;
}
#Template1 .feedsCardSubhead {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #E6E1E5;
}
#Template1 #feedsCardImg {
    width: 100%;
}
#Template1 #feedsCardRowDiv {
    margin-bottom: 0;
}
#Template1 #feedsCardIcon {
    color: #CAC4D0;
    position: relative;
    right: 1vw;
}
#Template1 .feedsCardTxt1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #CAC4D0;
    width: 70%;
    margin-left: 1vw;
    margin-top: 5vh;
}
#Template1 .feedsCardTxt {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #E6E1E5;
    margin-left: 1vw;
}
#Template1 .feedsCardTitle {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #E6E1E5;
    margin-left: 1vw;
}
#Template1 #feedsCardBtn {
    background: transparent;
    box-shadow: none;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    position: relative;
    left: 22vw;
    text-transform: capitalize;
    margin-top: 3vh;
}
#Template1 #feedsFacebookIcon {
    color: #6750A4;
    font-size: 1.2rem;
}
#Template1 .facebookFeedsIcon {
    margin: 5vh 0;
}

/* Testimonials Secion */
#Template1 #testiMapImg {
    background-image: url('../media/img/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    margin-top: 12vh;
}
#Template1 .testimonialDiv {
    background: var(--primary);
    box-shadow: inset 0px 4px 1000px rgba(0, 0, 0, 0.25);
    padding: 1vh 2vw;
    color: #fff;
}
.tempOneAddTestiLname {
    border: 1px solid var(--primary);
}
.reviewProEditIconDiv {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: var(--primary);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: inline-block;
    position: relative;
    top: 1.2vh;
    right: 1.2vw;
    color: #fff;
}
.material-icons.setProEditIcon {
    color: var(--white);
    font-size: 1.3rem;
    margin: 0.3vh 0 0 0.1vw;
}
.contactMainDiv .col.s12.m7.l7 {
    width: 100%;
}
#Template1 .singleReviewName {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
#Template1 .singleReviewComment {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: rgba(255, 255, 255, 0.7);
}
#Template1 .testiProImg {
    border-radius: 50%;
    position: relative;
    left: 10vw;
    top: 2.5vh;
    height: 57px;
}
#Template1 #testiSecondImgRowOneDiv {
    position: relative;
    bottom: 9vh;
}
#Template1 #testiSecondImgRowTwoDiv {
    position: relative;
    bottom: 4vh;
}
#Template1 #testiSecondImgRowThreeDiv {
    position: relative;
    top: 7vh;
}
#Template1 .contactContainDiv {
    width: 70%;
    margin: auto;
}
#Template1 #testiLname, #testiFname, #testiEmail, #testiPhone {
    border: 1px solid #6750A4;
    border-radius: 10px;
    padding: 0 1.5vw;
    width: 90%;
}
#Template1 #testiLname::placeholder, #Template1 #testiFname::placeholder,
#Template1 #testiEmail::placeholder, #Template1 #testiPhone::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.6);
}
#Template1 #testiTextarea1 {
    border: 1px solid #6750A4;
    border-radius: 10px;
    width: 99.5%;
    height: 22vh;
    padding: 3vh 1.5vw;
}
#Template1 #testiTextarea1::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.6);
}
#Template1 #testiContactFormTitleDiv {
    margin-bottom: 5vh;
}
#Template1 .testiContactBtn {
    background: #6750A4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 97.4%;
    margin-left: 0.7vw;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    height: 5vh;
}
#Template1 #testiContactBtnIcon {
    color: #938F99;
    position: relative;
    top: 0.5vh;
}
#Template1 #tempPublishBtn {
    /* width: 15vw;
    height: 5vh; */
    background-color: #7746FF;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    padding: 1vh 4vw;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: uppercase;
    margin-bottom: 3vh;
}
#Template1 #tempExitBtn {
    /* width: 15vw;
    height: 5vh; */
    background-color: rgb(25, 25, 25);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    padding: 1vh 2.77vw;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: uppercase;
}
#Template1 #tempPubExtDiv {
    position: fixed;
    right: 0;
    bottom: 40vh;
}