:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #a4a2a2;
    --component: #2e4450;
    --pri: #529dad;
    --sec: #201E62;
    --ter: #D7B9AE;
}
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
::-webkit-scrollbar {
    width: 5px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 7px rgba(0,0,0,0.8);*/
    background-color: var(--pri);
    /*border-radius: 8px;*/
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 100px var(--pri);
    background-color: var(--pri);
    /*border-radius: 8px;*/
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    height: 0;
    /* background-color: rgba(0,151,0,1);*/
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: var(--black);
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
::-webkit-scrollbar-track-piece {
    background-color: var(--white);
}
::-webkit-scrollbar-button:horizontal {
    width: 5px;
    /* Select the down or left scroll button when it's being hovered by the mouse */
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
a.active {
    border-bottom: 4px solid var(--pri);
    padding: 0;
}
.container {
    width: 85%;
    max-width: unset;
}

.headerContainer {
    width: 97%;
    margin: 0 auto;
    max-width: unset;
}

.cardNavContainer {
    text-align: right;
    position: relative;
    top: 8vh;
}
.cFlex {
    display: flex;
}
.flexRight {
    justify-content: flex-end;
}
a.btn-floating.btn-large {
    height: 9.4vh;
    width: 4.4vw;
    background-color: var(--white);
}
.btn-floating.btn-large i {
    color: var(--sec);
    font-size: 5vh;
    line-height: 9.7vh;
}
a.btn-floating.btn-large:hover, 
a.btn-floating:active, 
a.btn-floating:visited {
    background-color: var(--ter);
    color: var(--white);
}
.btn.btn-flat {
    background-color: #e3e3e7;
}
.btn.btn-flat i {
    color: var(--component);
}
.btn.btn-flat:hover, .btn.btn-flat:visited {
    background-color: var(--pri);
}

/* Navigation */
nav {
    height: 14vh;
    line-height: 14vh;
    position: static;
    background-color: transparent;
    box-shadow: unset;
}
a.brand-logo {
    font-size: 3.8vh;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    /* font-family: 'Anek Latin', sans-serif */
    color: var(--black);
}
nav ul a {
    color: var(--black);
    font-size: 2.6vh;
}
nav ul a:hover {
    background-color: var(--white);
    color: var(--ter);
}
nav ul.centerNav {
    margin-left: 21vw;
}
nav ul li a.btn.subscribeBtn {
    background-color: var(--ter);
    color: var(--white);
    text-transform: capitalize;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 4vh;
}
nav ul li a.btn.subscribeBtn:hover {
    background-color: var(--white);
    color: var(--ter);
    
}
#nav-mobile.section {
    padding-top: 1rem !important;
}


/* ABout */
.templateAboutInner {
    margin-top: -14vh;
}
.col .row.about {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}
.section.physiContainerDiv#about {
    padding-top: 0;
}
.profileDesc {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;   
    background-image: url('../media/img/templates/1/backgroundVector.png');
    background-repeat: no-repeat; 
    background-position: bottom left;
}
.profileDescInner {
    padding-left: 7vw;
    padding-right: 1.8vw;
}
.profileImg {
    margin-bottom: -0.9vh;
}
.profileImgContainer img.responsive-img {
    width: 100%;
}
.sectionSubHeading {
    font-size: 2.9vh;
    color: var(--pri);
    font-weight: 600;
}
.sectionHeading, h1.sectionHeading, h2.sectionHeading {  
    margin: 0;  
    font-weight: 700;
    color: var(--sec);    
    position: relative;
}
h1.sectionHeading {
    font-size: 8vh; 
    left: -0.3vw;    
}
h2.sectionHeading {
    font-size: 6.5vh;
    left: -0.27vw;
}
.profileDesc p {
    font-size: 2.5vh;
    line-height: 1.66rem;
    margin-bottom: 10vh;
    
}
.viewCvBtn, .callBtn {
    border-radius: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
    height: 8vh;
    line-height: 8vh;
    text-transform: capitalize;
    font-size: 2.3vh;
}
.btn.viewCvBtn {
    background-color: var(--ter);
    margin-right: 3vw;
}
.btn.callBtn {
    background-color: var(--pri);
}
.heroBtnRow {
    margin-bottom: 22vh;
}

/* INTERESTS */
.physiContainerDiv#services, .background {
    /* fullBackgroundVector.png */
    background-image: url('../media/img/templates/1/fullBackgroundVector.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 10vh;
}
.background#feeds {
    height: unset;
}
.customCarousel {
    width: 100%;
    overflow: hidden;
}
.inner {
    transition: transform 0.2s;
    white-space: nowrap;   
    padding-bottom: 7.5vh;  
}
.customCard {
    width: 30%;
    margin-right: 3vh;
    background-color: var(--white);
    display: inline-flex;
    padding: 7vh 2vw 4vh;
    border: thin solid #f3f3f7;
    border-radius: 26px;
    box-shadow: 0 35px 40px 0 rgba(36, 49, 160, 0.06);
}
.customCard h3 {
    font-size: 4vh;
    border-bottom: thin solid var(--gray);
    margin-bottom: 0;
    padding-bottom: 3vh;
    color: var(--sec);
}
.customCard p{
    white-space: pre-wrap; 
    font-size: 2.5vh;
}
.customCard img {
    width: 6vw;
}

.headerNoSideNav, .extHeaderNoSideNav {
    display: none;
}

a.physiTempNavLinks {
    font-family: "Montserrat", sans-serif;
    color: var(--black);
    position: relative;
    bottom: 2vh;
}
a.physiTempNavLinks:hover {
    background-color: white;
    border-bottom: 4px solid rgba(113, 96, 187, 0.5);
    padding: 0;
    border-left: none;
    margin: 0 0.96vw;
}

a.physiTempNavLinks.active {
    padding: 0;
    border-left: none;
    margin: 0 0.9vw;
    font-weight: 600;
    font-size: 1.1rem;
}
a.physiTempContactBtn {
    background-color: var(--pri);
    padding: 2.5vh 1.5vw;
    margin-top: 10px;
    line-height: 1px;
    font-family: "Montserrat", sans-serif;
    color: var(--white);
    position: relative;
    bottom: 2vh;
    right: -2vw;
}
a.physiTempContactBtn:hover {
    background-color: var(--black);
    color: var(--white);
    border-left: var(--white);
    padding-left: 1.5vw;
}
a.physiTempContactBtn.active {
    padding-left: 1.5vw;
    border-left: var(--pri);
}
#physiPortPageLogo {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 24px;
    color: #000000;
    margin-top: 3vh;
}
.text {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 22px;
    margin-left: 0.7vw;
}

.physiTempContactBtn {
    border-radius: 6px;
    /* width: 130px; */
    height: 40px;
    margin-top: 12px;
    text-align: center;
    line-height: 42px;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    background: var(--pri);
    color: #ffffff;
    border: none;
}

.physiTempContactBtn:hover {
    background: #ffffff;
    color: var(--pri);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.physiTempNameTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0;
    color: #000000;
    margin: 0 0 0 0.2vw;
}

.physiTempName {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 35px;
    letter-spacing: 0;
    color: var(--pri);
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.physiSummaryTxt {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.8);
    /* text-transform: capitalize; */
}

.physiTempBtn {
    background: transparent;
    border: 1px solid var(--pri);
    box-shadow: none;
    font-family: "Montserrat", sans-serif;
    border-radius: 100px;
    margin-top: 3vh;
    text-decoration: none;
    color: var(--pri);
    text-align: center;
    letter-spacing: 1px;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
    /* background-color: var(--black) !important; */
    font-size: 14px;
    outline: 0;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.servicesMainTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 0 0 0 0;
}

.servicesWhatIdo {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 44px;
    color: var(--pri);
    text-align: center;
    margin: 0 0 10vh 0;
}

.servicesIconsDiv {
    /* position: absolute; */
    width: 50px;
    height: 50px;
    /* left: 243px;
    top: 940px; */
    border-radius: 50%;
    margin: 0 auto;
    background: var(--pri);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.servcesHeading {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.563rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0;
    color: #000000;
}
.material-icons.reviewIcon {
    font-size: 2rem;
    color: #d29814;
}
.servicesTitle,
.servcesHeading.forSurgeon,
.title,
.feedsMainTitle.forSurgeon,
.greenBg {
    /* display: none; */
}
h2.sectionHeader {
    font-family: 'Raleway';
    font-size: 3.125rem;
    text-align: center;
    font-weight: 700;
    color: var(--sec);
    position: relative;
    margin-top: 0;
    text-transform: none;
    left: -0.75rem;
    margin-bottom: 6rem;
}
h2.sectionHeader
.tempReviewOptDiv {
    display: none;
}

.servicesTxt {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.7);
}

.servicesIcons {
    color: #ffffff;
    margin: 1.3vh 0 0 0.7vw;
    font-size: 2.3rem;
}

.servicesIcons1 {
    color: #ffffff;
    /* margin: 1.3vh 0 0 0.7vw; */
    font-size: 2rem;
}

.servicesIcons2 {
    color: #ffffff;
    /* margin: 1.3vh 0 0 0.7vw; */
    font-size: 2rem;
}
#miniBlog {
    background-color: #f1f1f6;
    padding-top: 7vh;
}
#miniBlogSettings .btn.saveSettingBtn:first-of-type {
    margin-right: 1.5rem;
}
#miniBlogSettings .col.l6.optionSettingContainer .row.hPadding-1 .settingImgContainer {
    border: none;
    width: 40%;
}
.physiExpContainerDiv,
.feedsContainDiv {
    width: 84.5%;
    margin: auto;
}

.expMainTitle,
.feedsTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 9vh 0 0 0;
}

.expMainTxt,
.feeds {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 2.25rem;
    line-height: 44px;
    color: var(--pri);
    text-align: center;
    margin: 0 0 5vh 0;
}
.feeds {
    color: var(--white);
    margin-bottom: 5vh;
}
.feedsContainDiv {
    margin-top: 5vh;
}
.feedsHeading {
    color: var(--white);
}
#feedsTwitterIcon {
    color: var(--pri);
    font-size: 1.3rem;
}

.feedsMainTxt {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 2.25rem;
    line-height: 44px;
    color: var(--pri);
    text-align: center;
    margin: 0 0 1vh 0;
}

.feedsCard {
    background: var(--pri);
    border: 1px solid #938f99;
    border-radius: 12px;
    padding: 2vh 0vw;
}

.feedsProDiv {
    background: #d0bcff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin-left: 1vw;
}

.feedsProImg {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    line-height: 40px;
}

.feedsCardHeader {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #e6e1e5;
}

.feedsCardSubhead {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #e6e1e5;
}

#feedsCardImg {
    width: 100%;
}

#feedsCardRowDiv {
    margin-bottom: 0;
}

#feedsCardIcon {
    color: #cac4d0;
    position: relative;
    right: 1vw;
}

.feedsCardTxt1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #cac4d0;
    width: 70%;
    margin-left: 1vw;
    margin-top: 5vh;
}

.feedsCardTxt {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #e6e1e5;
    margin-left: 1vw;
}

.feedsCardTitle {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #e6e1e5;
    margin-left: 1vw;
}

#feedsCardBtn {
    background: transparent;
    box-shadow: none;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 100px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    position: relative;
    left: 22vw;
    text-transform: capitalize;
    margin-top: 3vh;
}
.feedsFacebookIcon {
    color: var(--white);
    font-size: 1.2rem;
}
/* Testimonials Secion */

#testiMapImg {
    background-image: url("../media/img/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    margin-top: 12vh;
}
.testimonialDiv {
    background: var(--pri);
    box-shadow: inset 0px 4px 1000px rgba(0, 0, 0, 0.25);
    padding: 1vh 2vw;
    color: #fff;
    /* margin-top: -10px; */
    text-align: center;
    margin-bottom: 10px;
}
.tempOneAddTestiLname {
    border: 1px solid var(--pri);
}
.reviewProEditIconDiv {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: var(--pri);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: inline-block;
    position: relative;
    top: 1.2vh;
    right: 1.2vw;
    color: #fff;
}
.material-icons.setProEditIcon {
    color: var(--white);
    font-size: 1.3rem;
    margin: 0.3vh 0 0 0.1vw;
}
/* .contactMainDiv .col.s12.m7.l7 {
    width: 58%;
    margin-left: 21%;
    margin-right: 21%;
} */
.singleReviewName {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #ffffff;
}
.singleReviewComment {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: rgba(255, 255, 255, 0.7);
}
.testiProImg {
    border-radius: 50%;
    /* position: relative;
    left: 10vw;
    top: 2.5vh; */
    height: 57px !important;
}
#testiSecondImgRowOneDiv {
    position: relative;
    bottom: 9vh;
}
#testiSecondImgRowTwoDiv {
    position: relative;
    bottom: 4vh;
}
#testiSecondImgRowThreeDiv {
    position: relative;
    top: 7vh;
}

#tempPublishBtn {
    /* width: 15vw;
    height: 5vh; */
    background-color: #7746ff;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    padding: 1vh 4vw;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: uppercase;
    margin-bottom: 3vh;
}

#tempExitBtn {
    /* width: 15vw;
    height: 5vh; */
    background-color: rgb(25, 25, 25);
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    padding: 1vh 2.77vw;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: uppercase;
}

#tempPubExtDiv {
    position: fixed;
    right: 0;
    bottom: 40vh;
}

.tempOneRevDiv {
    padding: 0;
}

/* Added stylings for testimonial review */
.testiProImg {
    border-radius: 50%;
    width: 57px;
    display: flex;
    /* 
    margin: 0 auto;
    position: relative;
    top: 1vh; */

}
.testiMapDiv {
    background: #6750A4;
    box-shadow: inset 0px 4px 1000px rgba(0, 0, 0, 0.25);
    padding: 1vh 2vw;
}
.testiMapProName {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
    color: #FFFFFF;
}
.testiMapTxt {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.tempOneRevTime {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 5vh;
}

/* ************************************************************************************** */
.rm_mg {
    margin: 0;
}
.contactHeaderTxt {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 2rem !important;
    line-height: 44px;
    color: var(--pri);
    text-align: center;
    margin: 0 0 1vh 0;
}

/* Template Edit Modal buttons */
a.modal-trigger.iconBox {
    width: 30px;
    height: 30px;
    background-color: #edebeb;
    border-radius: 50px;
    display: block;
}
i.material-icons.editIcon {
    color: #554c8a;
    line-height: 31px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}
a.modal-trigger.aboutImgEditBtn {
    width: 30px;
    height: 30px;
    background-color: #edebeb;
    border-radius: 50px;
    position: absolute;
    top: 5vh;
    right: 1vw;
}
.whatIdoTxtRowDiv {
    position: relative;
}
#testiContactFormTitleDiv {
    position: relative;
}
a.modal-trigger.contactEditBtn {
    width: 2.5vw;
    height: 5vh;
    background-color: #edebeb;
    border-radius: 50px;
    position: absolute;
    top: 13vh;
    right: 21vw;
}
/* About Me Writeup edit modal */
div.aboutWriteUpsEditModalInnerDiv {
    width: 80%;
    margin: auto;
    padding: 1vh 0 5vh 0;
}
a.modal-close.editWriteUpsModalCloseBtn {
    margin-left: -3vw;
    color: var(--black);
    text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
}
input.validate.aboutWriteUpsInput {
    text-align: start;
    height: 2vh;
    border-bottom-color: var(--pri);
}
textarea.materialize-textarea.aboutWriteUpsInput {
    text-align: start;
    border: 1px solid var(--pri);
    padding: 0.5vh 0.5vw 2.5vh 0.5vw;
}
p.aboutWriteUpsSize {
    font-size: 0.7rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
}
a.editWriteUpsSaveBtn {
    background-color: #524988;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    padding: 0.3vh 2vw;
}
div.editWriteUpsSaveBtnDiv {
    margin-top: 0vh;
}

/* About Me Img edit modal*/
div.aboutImgModalDiv {
    width: 37%;
    height: 39vh;
    margin: 2.5vh auto 0 auto;
}
img.aboutImgModal {
    width: 100%;
    height: 100%;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.3);
}
a.editImgChangeBtn {
    background-color: #524988;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    padding: 0.3vh 2vw;
}
div.editImgChangeBtnDiv {
    display: flex;
    justify-content: center;
    margin-top: 1.8vh;
}
p.aboutImgSize {
    text-align: center;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 1.8vh;
}
a.modal-close.editImgModalCloseBtn {
    margin-left: 5vw;
    color: var(--black);
    text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
}
div.aboutImgEditModalInnerDiv {
    padding: 1vh 0 5vh 0;
}

/* Service edit modal */
.whatIdoTxtRowDiv {
    position: relative;
}
textarea.materialize-textarea.servicesTextarea {
    text-align: start;
    border: 1px solid var(--pri);
    padding: 0.5vh 1.5vw;
    min-height: 17vh;
}
a.servicesAddMoreBtn {
    color: var(--black);
    text-decoration: underline;
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 2vh;
}

/* Contact Me Edit Btn */
p.servicesInputInstruct {
    font-size: 0.7rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    text-align: right;
}

a.physiTempSettingsNavLink {
    background-color: transparent;
}
a.physiTempSettingsNavLink:hover {
    background-color: transparent;
}
/* i.material-icons.physiTempSettingsIcon {
    position: relative;
    bottom: 2vh;
    left: 3vw;
    font-size: 2.5rem;
    color: var(--pri);
} */
nav .nav-wrapper i.material-icons.physiTempSettingsIcon {
    height: 14vh;
    line-height: 14vh;
    font-size: 2.5rem; 
    color: var(--pri);
}
i.material-icons.physiTempSettingsIcon:hover {
    color: var(--black);
}
#dropSettings {
    min-width: 12vw;
}
.dropdown-content li>a.dropSetLink {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: var(--pri);
}
.dropdown-content li>a.dropSetLink:hover {
    background-color: transparent;
    border-left: none;
}
.dropdown-content li:hover {
    border-left: 1px solid var(--pri);
}
.physiTempName {
    display: flex;
    align-items: center;
}
.serviceHeading {
    display: flex;
    justify-content: center;
}
#experience .serviceHeading {
    align-items: baseline;
}

/* Website settings */
#showSettingsModal {
    background-image: linear-gradient(to top left, #b7b7b7, #ffffff);
}
#showSettingsModal.modal {
    max-height: 85%;
}
#showSettingsModal.modal .modal-content {
    padding: 0;
}
.settingModalViewInitial {
    padding: 2vh 1.5vw;
}
#showSettingsModal h3 {
    margin-top: 5vh;
    font-size: 3.7vh;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--sec);
}
#showSettingsModal button.btn.closeSettingModal {
    background-color: var(--black);
    text-transform: capitalize;
    border-radius: 5vh;
    padding: 0 2vw;
    height: 5vh;
    line-height: 5vh;
    font-size: 1.7vh;
}
.generalSettings {
    display: flex;
}
.settingOptions {
    padding: 2vh 1vw;
    background-color: var(--white);
    justify-content: space-around;
    align-items: center;
    border-radius: 2vh;
}
.settingOptions h6 {
    color: var(--sec);
    font-weight: 600;
}

.optionSettingBackground {
    background-image: url('../media/img/templates/1/settingOptionBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 79vh;
}
.optionSettingBackground a, .optionSettingBackground h5 {
    color: var(--white);       
}
.optionSettingBackground a {
    text-transform: capitalize;
}
.optionSettingBackground h5 {
    padding-left: 3vh;
    font-size: 5.5vh; 
}
.row .col.optionSettingContainer {
    background-color: var(--white);
    overflow: auto;
    height: 79vh;
    padding-top: 4vh;
}
h4.settingOptionSectionTitle {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--component);
}
.optionSettingContainer input.validate.formInput {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}
.optionSettingContainer input[type=text]:not(.browser-default), textarea#miniBlogDecription {
    border-bottom: 0.3vh solid var(--sec);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    height: 1.5rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.optionSettingContainer .input-field>label, .optionSettingContainer label {
    font-size: .75rem !important;
    position: relative;
    left: 0;    
}
.settingImgContainer {
    width: 80%;
    /* height: 50vh; */
    border: 9px solid #d9d9d9;
    margin: auto;
    position: relative;
    top: 5vh;
}
.settingImg {
    width: 100%;
    height: 100%;
}
.settingImgBtnContainDiv {
    /* display: flex;
    justify-content: space-between;
    width: 35.5%; */
    margin: 2vh auto;
}
.settingImgBtnMainDiv {
    position: relative;
    margin-bottom: 7vh;
}
/* .formInnerDiv {
    display: flex;
} */
.formInnerDiv .input-field.col.selectInputField label {
    top: 1.2vh;
}
select.browser-default {
    border: none;    
    height: 3.15rem;
    outline: none;
    background: transparent;
}
select.browser-default, input[type=text]:not(.browser-default) {
    border-bottom: 0.3vh solid var(--sec);
    font-family: 'Montserrat', sans-serif;
}
.btn.saveSettingBtn {
    background-color: var(--white);
    color: var(--sec);
    border-radius: 5vh;
    padding: 0 2vw;
    text-transform: capitalize;
}
.btn.saveSettingBtn:hover {
    color: var(--white);
    background-color: var(--sec);
}

.modalTriggerHolder {
    width: 30px;
    height: 30px;
    background-color: #edebeb;
    border-radius: 50%;
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
}
.contentDiv .footer {
    position: fixed !important;
}
.fixedBtmBtn {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif")
        50% 50% no-repeat rgb(249, 249, 249);
}


/* Inferred */
#testimonials .testimonialsContainer {
    width: 70%;
    margin: 0 auto;
}
.row .col.testifiers {
    border-right: thin solid var(--gray);
    padding-bottom: 3vh;
    padding-right: 2vw;
}
.row .col.testament {
    padding-left: 2vw;
    padding-top: 1.5vh
}
.testimonialsProName {
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 0;
}
.testimonialsProTitle {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    /* font-weight: 600; */
    margin: 0;
}
.testimonialsProImgdiv {
    padding: 0.75rem;
    background-color: #77DEF4;
    border-radius: 1rem;
    margin-bottom: 1.75rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.testimonialsProImgdiv:hover {
    background-color: #546f75;
    cursor: pointer;
    color: white;
}
.testimonialsWriteupTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 23px;
}
.tesimonialsWriteupTxt {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #73729C;
}
.primaryColorBoxDesign5 {
    width: 10.5vw;
    height: 3.5vh;
    background-color: #77DEF4;
    position: absolute;
    left: 49.5vw;
    top: 2.7vh;
    z-index: -1;
}
.contactMainDiv {
    width: 90%;
    margin: 0 auto;
}
.contactIconDiv {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #77DEF4;
}
.material-icons.contactIcon {
    font-size: 2.5rem;
    position: relative;
    left: 0.5vw;
    bottom: 1vh;
}
.contactMeTitle {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}
.contactMeTxt {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.formContainDiv {
    background-color: #77DEF4;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 2vh 4vw;
}
.contactFormTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 38px;
    /* width: 476px; */
    color: #000000;
}
.contactFormDiv {
    width: 85%;
    margin: 0 auto;
}
input.contactFormInput,
textarea.contactFormInput {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--black);
}
input.contactFormInput::placeholder,
textarea.contactFormInput::placeholder {
    padding: 0 0.5vw;
    color: var(--black);
}
button.testiContactBtn.btn {
    background-color: #1e1e1e !important;
    color: #77DEF4;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    margin-top: 2vh;
}
input[type=text]:not(.browser-default), textarea.contactFormInput {
    border-bottom: 2px solid rgb(58, 56, 56);
}
.pt-5 {
    padding-top: 5rem !important;
}
.sectionHeader {
    text-align: center;
}

footer {
    padding: 3vh 0 1vh;
}

@media screen and (max-width: 992px) and (min-width: 640px) {
    .sidenav {
        background-color: var(--white)
    }
    .sidenav li>a.brand-logo {
        margin: 3vh 0 2vh;
        font-size: 2vh;
        font-weight: 600;
    }
    .sidenav li>a.brand-logo:hover {
        background-color: unset;
    }
    .marginRight-5 {
        margin-right: 2.5vh;
    }
    .container {
        width: 90%;
    }
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 8vh;
        line-height: 8vh;
    }
    nav i.material-icons {
        font-size: 3.9vh;
    }
    nav .brand-logo {
        right: -5%;
        left: unset;
        font-size: 2.5vh;
    }
    nav a {
        color: var(--sec);
    }

    /* ABOUT */
    .templateAboutInner {
        margin-top: -8vh;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .row .col.profileDesc {
        order: 2;
        margin-top: -12vh;
        z-index: -10;
        display: block;
        padding-top: 16vh;
        height: unset;
        text-align: center;
    }
    .profileDescInner {
        padding: 0 3vw;
    }
    .profileDescInner p {
        margin-top: 1vh;
        font-size: 1.7vh;
        line-height: 1.3;
        margin-bottom: 4vh;
    }
    .sectionSubHeading  {
        font-size: 2.4vh;
    }
    h1.sectionHeading {
        font-size: 4vh;
    }
    .heroBtnRow {
        margin-bottom: 6vh;
        display: flex;
        justify-content: center;
        /* justify-content: space-between; */
    }
    .btn.viewCvBtn {
        margin-right: 2vw;
        /* margin-bottom: 3vh; */
    }
    .viewCvBtn, .callBtn {
        border-radius: 5vh;
        padding-left: 3.5vw;
        padding-right: 3.5vw;
        height: 5vh;
        line-height: 5vh;
        text-transform: capitalize;
        font-size: 1.6vh;
    }
    .row .col.profileImgContainer {
        order: 1;
        padding-left: 0;
    }
    .profileImgContainer img.responsive-img {
        border-bottom-left-radius: 20vw;
    }

    /* Interests */
    h2.sectionHeading {
        font-size: 3.7vh;
        left: -0.27vw;
    }
    .cardNavContainer {
        text-align: unset;
        position: relative;
        top: 3vh;
        margin-bottom: 5vh;
    }
    .btn-floating i {
        color: var(--sec);
    }
    .customCard {
        width: 55%;
    }
    .physiContainerDiv#services {
        background-position: right;
    }
    a.btn-floating.btn-large {
        height: 7.2vh;
        width: 10vw;
    }
    .btn-floating.btn-large i {
        line-height: 7.3vh;
    }
    .customCard {
        padding: 6vh 4vw 3vh;
        margin-right: 1vw;
    }
    .customCard h3 {
        font-size: 2.5vh;
        font-weight: 600;
    }
    .customCard p {
        font-size: 1.53vh;
    }
    .customCard img {
        width: 14vw;
    }
    /* Testimony */
    #testimonials .testimonialsContainer {
        width: 90%;
    }

    .row .col.testament {
        text-align: center;
    }

    /* Contacts */
    .contactFormTitle {
        font-size: 2.2vh;
    }
}
.brand-logo {
    width: 20vw;
    max-width: 21vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
h1.sectionHeading .title {
    font-size: 1.75rem;
}
@media screen and (max-width: 640px) {
    .brand-logo {
        width: fit-content;
        max-width: fit-content;
    }
    .sidenav {
        background-color: var(--white)
    }
    .sidenav li>a.brand-logo {
        margin: 3vh 0;
        font-size: 2.5vh;
        font-weight: 600;
    }
    .sidenav li>a.brand-logo:hover {
        background-color: unset;
    }
    .marginRight-5 {
        margin-right: 2.5vh;
    }
    .container {
        width: 100%;
    }
    nav, nav .sidenav-trigger i {
        height: 6.9vh;
        line-height: 6.9vh;
    }
    nav i.material-icons {
        font-size: 3.9vh;
    }
    nav .brand-logo {
        right: -10%;
        left: unset;
        font-size: 2.5vh;
    }
    nav a {
        color: var(--sec);
    }

    /* ABOUT */
    .templateAboutInner {
        margin-top: -6.9vh;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .row .col.profileDesc {
        order: 2;
        margin-top: -8vh;
        z-index: -10;
        display: block;
        padding-top: 12vh;
        height: unset;
    }
    .profileDescInner {
        padding: 0;
    }
    .profileDescInner p {
        margin-top: 1vh;
        font-size: 2.1vh;
        line-height: 1.4;
        margin-bottom: 4vh;
    }
    .sectionSubHeading  {
        font-size: 2vh;
        font-weight: 400;
    }
    h1.sectionHeading {
        font-size: 4.5vh;
    }
    .heroBtnRow {
        margin-bottom: 6vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .btn.viewCvBtn {
        margin-right: unset;
        margin-bottom: 3vh;
    }
    .viewCvBtn, .callBtn {
        border-radius: 5vh;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        height: 6vh;
        line-height: 6vh;
        text-transform: capitalize;
        font-size: 1.9vh;
    }
    .row .col.profileImgContainer {
        order: 1;
        padding-left: 0;
    }
    .profileImgContainer img.responsive-img {
        border-bottom-left-radius: 20vw;
    }


    /* Interests */
    .physiContainerDiv#services, .background {
        padding-top: 5vh;
    }
    .physiContainerDiv#services {
        height: 80vh;
    }
    h2.sectionHeading {
        font-size: 3.7vh;
        left: -0.27vw;
    }
    .cardNavContainer {
        text-align: unset;
        position: relative;
        top: 3vh;
        margin-bottom: 5vh;
    }
    .btn-floating i {
        color: var(--sec);
    }
    .customCard {
        width: 99%;
    }
    .physiContainerDiv#services {
        background-position: right;
    }
    a.btn-floating.btn-large {
        height: 7.5vh;
        width: 16vw;
    }
    .btn-floating.btn-large i {
        line-height: 7.6vh;
    }
    .customCard {
        padding: 4vh 4vw 3vh;
        margin-right: 1vw;
    }
    .customCard img {
        width: 21vw;
    }
    .customCard h3 {
        font-size: 2.5vh;
        font-weight: 600;
    }
    .customCard p {
        font-size: 2.1vh;
    }

    /* Socials */
    .customCarousel .w-50 {
        width: 99% !important;
    }
    
    /* Testimony */
    #testimonials .testimonialsContainer {
        width: 90%;
    }

    .row .col.testament {
        text-align: center;
    }

    /* Contacts */
    .contactFormTitle {
        font-size: 2.2vh;
    }
    
}
.emptyTestify {
    color: darkgrey;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 2px ghostwhite;
}