::-webkit-scrollbar {
    width: 5px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 7px rgba(0,0,0,0.8);*/
    background-color: var(--sec);
    /*border-radius: 8px;*/
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 100px var(--sec);
    background-color: var(--sec);
    /*border-radius: 8px;*/
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    height: 0;
    /* background-color: rgba(0,151,0,1);*/
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: var(--black);
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
::-webkit-scrollbar-track-piece {
    background-color: var(--white);
}
::-webkit-scrollbar-button:horizontal {
    width: 5px;
    /* Select the down or left scroll button when it's being hovered by the mouse */
}
/* General in the templates */
.fs-1 {
    font-size: 1rem !important;
    line-height: inherit !important;
}
.pl-3 {
    padding-left: 1.5vw;
}
.ml-3 {
    margin-left: 1.5vw;
}
.socials {
    width: 265px;
    margin-top: 5dvh;
}
.call {
    font-family: "Metropolis", sans-serif;
    font-size: 1.063rem;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1px;
    color: black;
}
.socials i {
    font-size: 1.5rem;
}
.fa-phone {
    margin-right: 2dvh;
}
.fa-facebook-f {
    color: rgb(22, 109, 240);
}
.fa-tiktok {
    color: rgb(248, 5, 5);
}
.fa-twitter {
    color: var(--primary);
}
.fa-instagram,
.fa-phone {
    color: rgba(237, 1, 127, 1);
}
nav i,
.fa-settings {
    font-size: 2.5rem !important;
}
.button {
    background-color: var(--secondary);
    color: white;
    border-radius: 100px;
    padding: 0 5rem;
}
.button:hover {
    background-color: var(--primary);
    color: white;
}
.fixed-bottom {
    position: fixed;
    left: 40%;
    bottom: 8px;
    width: 100%;
    /* Additional styles if needed */
}
.primary {
    color: var(--primary);
}
.custom-edit-field,
.custom-textarea-field {
    border: 1px dotted var(--primary);
    padding: 1vh;
    color: var(--secondary);
    outline: none;
}
.custom-textarea-field {
    width: 36vw;
    height: 30vh;
    font-size: 1.5rem;
    margin-bottom: 3vh;
}
.socials .custom-edit-field {
    width: 4vw;
}
.input-container {
    position: relative;
    display: inline-block;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
}

.input-container input {
    padding-left: 25px; /* Adjust the padding to make space for the icon */
    font-size: 16px; /* Optional: Adjust the font size of the input text */
}
.w-100 {
    width: 100%;
}
.h-10 {
    height: 7vh;
}
.icons-call i, .icons-call span{
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    margin: 0;
}
.icons-call {
    align-items: baseline;
}
.icons-call span {
    padding: 0 2vh;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(163, 160, 160, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.upload-label {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

input[type="file"] {
    display: none;
}
.inlBlock {
    display: block;
}
.browse {
    color: var(--secondary);
    text-decoration: underline;
    cursor: pointer;
}
